.red{color:red}
.navy{color:navy}
.green{color:green}
.yellow2{color:rgb(210, 210, 0)}
.blue{color:blue}
.pinkred{color:rgb(255, 30, 70)}
.purple{color:purple}
.white{color:white}
.orange{color:orange}
.black{color:black}
.gray{color:gray}

body{
    font-size:25px;
    background-color:black;
    border: 5px white groove;
    padding: 5px;
    margin: 15px;
    outline: 5px white;
}

header{
    text-align: center;

    border:7px brown ridge;
    padding:5px;
    margin:5px;
    border-radius: 15px;
}

header h1{
    border:1px white solid;
    padding:10px;
    margin:10px;
    border-width: 5px;
} 

header a{
    color:red;
    text-decoration: none;
 }



main{
    border:7px cyan inset;
    padding:20px;
    margin:5px;
    border-radius: 15px;
}

footer{
    font-size: 25px;
    text-align: right;

    border:7px gold outset;
    padding:5px;
    margin:5px;
    border-radius: 15px;

}

nav{
    color:white;
               
    border:3px white solid;
    padding:5px;
    margin:5px;
    border-radius: 15px;
}

nav a{
    color:white;
    text-decoration: none;
}

nav a:hover{
    background-color: gray;
}


p{
    color:white;
}